form{
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.labelForm{
  margin-top: 12px;
  /* display: "block"; */
}

.inputForm{
  margin-top: 12px;
  width: 70%;
  margin-left: 12px;
}
.selectForm{
  margin-top: 12px;
  width: 70%;
  margin-left: 12px;
}
.botonForm{
  margin-left: 8px;
  background-color: #1C2833 ;
  border: 2px solid black;
  border-radius: 4px;
  color: white;
}

.botonFormEliminar{
  margin-left: 8px;
  background-color: #ff0000 ;
  border: 2px solid rgb(255, 0, 0);
  border-radius: 4px;
  color: white;
}

.botonesForm{
  text-size-adjust: 10%;
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
  gap: 10px
}
.botonTablaCapas{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; 
}
.botonTablaExportar{
  margin-left: 8px;
  background-color: #1C2833 ;
  border: 2px solid black;
  border-radius: 4px;
  color: white;
}

.inputContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* SuccessMessage.css */
.success-message {
  background-color: #d4edda;
  color: #155724;
  padding: 10px;
  border: 1px solid #c3e6cb;
  border-radius: 4px;
  margin: 10px 0;
  display: inline-block;
}
.colorPickerContainer {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
}
.colorDisplay {
  margin-left: 20px;
}
.botonGuardarContorno{
  /* margin-top: "220%";
  margin-left: "25px"; */
  position: sticky;
  background-color: white ;
  border: 2px solid black;
  border-radius: 4px;
  color: #1C2833;
}
/* Estilo del contenedor que envuelve la tabla */
.table-container {
  max-height: 300px; /* Limita la altura máxima del contenedor */
  overflow-y: scroll; /* Activa el scroll vertical */
  border: 1px solid #ccc; /* Añade un borde para visualizar el área de scroll */
}

/* Estilos para la tabla */
table {
  width: 100%; /* Asegura que la tabla ocupe todo el ancho del contenedor */
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  border: 1px solid #ddd; /* Añade bordes a las celdas */
  text-align: left;
}

th {
  background-color: #f4f4f4; /* Color de fondo para la cabecera */
  position: sticky; /* Hace que la cabecera sea fija */
  top: 0;
}
.fileViewerStyle{
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}
#closeFile{
  margin-right: 12px;
}
.table-container-menu {
  max-height: 150px; /* Define la altura máxima para el contenedor */
  overflow-y: auto; /* Habilita el scroll vertical cuando hay más elementos */
  border: 1px solid transparent; /* Borde del contenedor */
  margin-top: 10px;
  padding: 5px;
}

/* Estilo para la tabla */
.custom-table-menu {
  width: 100%;
  border-collapse: collapse;
}

/* Estilo para las filas de la tabla */
.table-row-menu {
  border: 1px solid transparent; /* Cambia el color de las líneas de la tabla */
}

/* Estilo para las celdas */
.table-cell-menu {
  padding: 8px;
  border: 1px solid transparent;
}
/* Contenedor de la tabla */
/* Contenedor de la tabla */
/* Contenedor de la tabla */
.table-container-mapas {
  max-height: 250px; /* Altura máxima del contenedor */
  overflow-y: auto; /* Scroll vertical */
  margin: 10px 0;
  padding: 5px;
  border: 1px solid transparent; /* Bordes del contenedor */
}

/* Estilo para la tabla */
.custom-table-mapas {
  width: 100%;
  border-collapse: collapse; /* Quita el espacio entre celdas */
}

/* Estilo para las filas de la tabla */
.table-row-mapas {
  color: white;
  border: 1px solid transparent; /* Bordes de fila transparentes */
}

/* Estilo para la celda del nombre del mapa */
.table-cell-mapas {
  width: 85%; /* Ancho fijo del 85% para la celda del nombre */
  padding: 8px;
  border: none; /* Sin bordes */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden; /* Oculta el desbordamiento de texto */
  text-overflow: ellipsis; /* Muestra "..." si el texto es muy largo */
}

/* Estilo para la celda del SVG */
.table-cell-mapas.svg-cell {
  width: 15%; /* Ancho fijo del 15% para la celda del SVG */
  padding: 8px;
  border: none; /* Sin bordes */
  text-align: center; /* Centra el SVG */
  vertical-align: middle; /* Alineación vertical */
}
